
html body {
     background-color: #0B498D;
     width:100%;
 }


h1{
/* color:white; */
color:#FDDE33;
}

i {
    opacity: 1.4;
}

i:hover {
    opacity: 0.4;
}

#home{
    /* float:left; */
    display: inline;

}
#runner_icon{
    margin:1rem 0 1rem 2rem;
    display: inline-block;

}

#main-title{
    /* align-content: center;
    align-self: center; */
    position:relative;
    display: inline-block;
    /* width:70%; */
    margin: 1rem 0 0 15%;
    /* padding-left:10%; */
    font-family: 'DM Serif Display',
    serif;


}

.navButtons {
    background-color: yellow;
    color:yellow;
    width: 98%;
    margin:1rem 1% 0 1%;
    border-radius: 5px;
    border-bottom-color: black;

    /* float:right; */
}

.index_text{
    color:white;
    margin-top:10px;
font-family: 'DM Sans',
sans-serif;

}

.header_text{
      color:white;
      margin-top:10px;
    font-family: 'DM Serif Display',
    serif;
}

.content_text{
    font-size: 150%;
font-family: 'DM Sans',
sans-serif;

}
.paragraph{
    margin-bottom:2rem;
}
.mainImg{
    padding:1rem;
}



.who_we_are{
    font-size: 120%;
    font-family: 'DM Sans',
        sans-serif;
}
.meet_the_coaches {
    font-size: 120%;
    font-family: 'DM Sans',
        sans-serif;
}

@media all and (max-width: 1080px) {
   #runner_icon {
       margin: 0 0 0 0;
       display: inline-block;
   }

   #main-title {
           font-size: 150%;
       position: relative;
       display: inline;
       /* width: 70%; */
       margin: 0 0 0 0;
       font-family: 'DM Serif Display',
           serif;
   }
}