
html body {
     background-color: #0B498D;
 }


h1{
/* color:white; */
color:#FDDE33;
}

i {
    opacity: 1.4;
}

i:hover {
    opacity: 0.4;
}

#home{
    /* float:left; */
    display: inline;

}
#runner_icon{
    margin:1rem 0 1rem 2rem;
    display: inline-block;

}

#main-title{
    /* align-content: center;
    align-self: center; */
    position:relative;
    display: inline;
    width:70%;
    margin: 1rem 0 0 15%;
    padding-left:10%;

}

.navButtons {
    background-color: yellow;
    color:yellow;
    width: 98%;
    margin:1rem 1% 0 1%;
    border-radius: 5px;
    border-bottom-color: black;

    /* float:right; */
}

#index_text{
    color:white;
    margin-top:10px;
}
.mainImg{
    padding:1rem;
}

/* @media all and (max-width: 1080px) {
    body {
        background-color: green;
    }
} */
